---
import Base from '../../layouts/Base.astro';
import Entry from '../../components/Entry.astro';
import { getCollection } from 'astro:content';

const entries = (await getCollection('links')).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---
<Base title="Links">
  <h2>Links</h2>
  {entries.length === 0 && <p>No links yet.</p>}
  {entries.map((entry) => <Entry entry={entry} type="links" />)}
</Base>
